.footer{
    height: 200px;
    background-color: #eff2f4;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-button{
    width: 500px;
    display: flex;
}
.img{
    display: flex;
    gap: 20px;
}

